---
layout: default
body_id: blog
nav: blog
title: Blog Archives
---
%h2 Design Enthusiast Archives

- posts = site.posts.group_by { |p| p.date.strftime("%Y") }
- posts.keys.sort.reverse.each do |year|
  %h3= year
  %ul
    - posts[year].sort_by(&:date).reverse.each do |post|
      %li= link_to(post.title, post.url)