---
layout: default
title: Projects
body_id: work
nav: projects
simple_sidebar: true
no_comments: true
---

%h2 My Projects
%p
  %em Free and open source projects I've created

.section
  %img.left(src="/projects/fancy-buttons/fancy-buttons.png")
  %h3 <a href="/projects/fancy-buttons/">Fancy Buttons</a>
  %p I created Fancy Buttons (a Compass plugin) to make it easy to design gorgeous customizable CSS buttons in seconds.
  :markdown
    [Project Page & Screencast](/projects/fancy-buttons/) |
    [Demo](/projects/fancy-buttons/demo) |
    [Gem](http://rubygems.org/gems/fancy-buttons/) |
    [Github](http://github.com/imathis/fancy-buttons/)

.section
  %img.left(src="/projects/fancy-avatars/fancy-avatars.png")
  %h3 <a href="/projects/fancy-avatars/">Fancy Avatars</a>
  :markdown
    I'm sick of ugly default avatars, so I made these. They come in several variations, including transparent PNGs of just the silhouette or just the frame.

    [Project Page](/projects/fancy-avatars/) |
    [Demo](/projects/fancy-avatars/demo) |
    [Download](/projects/fancy-avatars/fancy-avatars.zip)

.section
  %img.left(src="/projects/wp-life/wp-life.png")
  %h3 <a href="/projects/wp-life/">WP-Life</a>
  :markdown
    WordPress theming sucks. WP-Life is a minimal theme that uses layouts, partials, and Compass/Sass to make it better.

    [Project Page](/projects/wp-life/) |
    [Github](http://github.com/imathis/wp-life)