#page
  .contents
    .heading
      p
        +serif_font
        font-style: italic
        font-size: 105%
        +soft-grey
    img.shadow
      display: block
      padding-bottom: 16px
      &.medium
        background: url(/images/work_shadow_bg.png) no-repeat bottom
    .article
      border-top: 1px solid #eee
body#work
  .article
    padding: 1em 0
    +clearfix
    .info
      +column(7,true)
    p
      font-size: 85%
    h3
      margin:
        top: .4em
        bottom: .4em
    .soft
      +soft-grey
      &.block
        border:
          top: 1px solid #eee
          bottom: 1px solid #eee
        display: block
        padding: 3px 0
        margin-bottom: 1em
    img
      border: 1px solid #ccc
      background: #fff
      +border-radius
      padding: 3px

//Home Page sections
#head_quote
  position: relative
  padding-bottom: 30px
  +serif_font
  .quote
    position: absolute
    font-size: 1000%
    font-weight: bold
    color: #f0f0f0
    top: .35em
    left: -15px
    letter-spacing: -.12em
  .cite, h2
    display: block
  .cite
    padding-top: 25px
    color= !default_link_color
    text-transform: uppercase
  h2
    font-family: inherit
    margin-top: -5px
#featured_work
  margin: 0 -30px
  padding: 30px 30px 10px
  background: #333 url(/images/line_tile.png)
  +clearfix
  color: #ddd
  border:
    top: 1px solid #555
    bottom: 1px solid #555
  h3
    margin-top: 0
    color: #eee
    text-shadow: #1a1a1a 1px 1px 3px
  .art
    text-align: center
  p
    font-size: 85%
    line-height: 1.6em
  a
    +link-color-alt
#writings
  background: url(/images/section_shadow_bg.png) repeat-x left 1px
  padding: 1px 30px 10px
  margin: 0 -30px
  h3
    margin-top: 1em
  ul
    border-top: 1px solid #ededed
    margin-bottom: 15px
  li
    +clearfix
    border-bottom: 1px solid #ededed
    padding: 1.5em 0 0
    .date
      +column(3)
      font-size: 75%
      color: #808080
    .article
      +column(13, true)
      h5
        display: inline
        color: #444
      a
        +link-colors("inherit")
      p
        font-size: 80%
        margin-top: .5em
        line-height: 1.5em
        color: #666
        margin-bottom: 0