---
layout: default
nav: about
title: "Brandon Mathis - About Me"
---
.article
  %img.right(src="/content/avatar_large.jpg")
  %h2 About Me
  %p I'm a design enthusiast who's passionate about my craft. I primarily design web applications, but I also love photography, and work on print design projects when I can find the time.
  %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in.