#about.section
  .contents
    %h5 About Me
    %span.avatar
      %img(src="/content/avatar.jpg")
    %p
      I'm a design enthusiast who's passionate about my craft. I mainly design web applications, but<br/>I also love photography and print design.
#twitter.section
  .contents
    %h5 Twitter
    .tweet
      %p#twitter_status
        Status updating...
    %p.follow
      %img(src="/images/twitter_bird.png")
      %span
        follow
        %a(href="http://twitter.com/imathis") imathis
#contact.section
  .contents
    %h5 Contact Me
    %ul
      %li <a href="m&#97;ilto:&#105;&#109;&#97;&#116;&#104;&#105;&#115;&#64;&#109;&#101;&#46;&#99;&#111;&#109;? title="send an email to Brandon Mathis">&#105;&#109;&#97;&#116;&#104;&#105;&#115;&#64;&#109;&#101;&#46;&#99;&#111;&#109;</a>
      %li +1 (205) 258-8648
      %li
        %ul#social
          %li <a href="http://twitter.com/imathis" class="twitter" title="Follow me on Twitter">Twitter</a>
          %li <a href="http://github.com/imathis" class="github" title="My Github profile">Github</a>
          %li <a href="http://facebook.com/brandon.mathis" class="facebook" title="My Facebook profile">Facebook</a>
          %li <a href="http://www.linkedin.com/in/brandonmathis" class="linkedin" title="My Linked-in profile">Linked-in</a>
          %li <a href="http://delicious.com/imathis/" class="delicious" title="My Delicious links">Delicious</a>
          %li <a href="http://flickr.com/photos/imathis/" class="flickr" title="My Flickr photo stream">Flickr</a>