---
layout: default
body_id: work
nav: work
title: "Design Enthusiast - My Work"
description: "A collection of my recent work"
---

%h2 My Work
%p A collection of my recent work
.section
  %img.right(src="/content/work/terralien/main_page_thumb.png")
  %h3.header Terralien
  .article
    %small.soft.block Illustration, Layout
    %p This project was a collaborative effort by designers in the crew. In my mockup I focused mainly on expanding the space theme through illustration and logo adaptation. I took inspiration from old toy packaging and various 1950’s space posters to bring elements of fun into the design.
  .footer
    %a(href="/work/terralien.html") View Project &rarr;
.section
  %img.right(src="/content/work/memberhub/main_page_thumb.png")
  %h3.header Memberhub
  .article
    %small.soft.block HTML, CSS, Javascript, Icons, Illustration
    %p Memberhub enables member driven organizations to keep people informed and in-touch. It's a flexible social networking tool for small groups as well as large organizations.
  .footer
    %a(href="/work/memberhub.html") View Project &rarr;
.section
  %img.right(src="/content/work/oxford_iphone/main_page_thumb.png")
  %h3.header Oxford iPhone
  .article
    %small.soft.block Webview: HTML, CSS, Javascript, Icon
    %p I worked with <a href="http://yfactorial.com">Y|Factorial</a> to bring the Oxford American College Dictionary &amp; Thesaurus to the iPhone. My role was to provide the best possible user experience from layout and typography to the interaction and flow of the app.
  .footer
    <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=303216625">App Store</a> | 
    %a(href="/work/oxford_iphone.html") View Project &rarr;
.section
  %img.right(src="/content/work/plotwatt/main_page_thumb.png")
  %h3.header PlotWatt
  .article
    %small.soft.block HTML, CSS, Javascript, Logo Design
    %p PlotWatt is a service that allows people to track energy consumption in real&ndash;time. You can literally walk into a room and flip off a light and watch your energy consumption drop immediately. This project is in a pilot phase, and I hope to be working on it more soon.
  .footer
    %a(href="/work/terralien.html") View Project &rarr;
.section
  %img.right(src="/content/work/linktiger/main_page_thumb.png")
  %h3.header LinkTiger
  .article
    %small.soft.block HTML, CSS, Flash, Illustration
    %p LinkTiger is a fantastic tool which helps webmasters track down broken links on their sites. It can even search inside of documents for broken outgoing links. I developed the jungle theme and illustrations to strengthen the branding of the site.
  .footer
    %a(href="/work/linktiger.html") View Project &rarr;
.section
  %img.right(src="/content/work/christian_george/main_page_thumb.png")
  %h3.header Christian George
  .article
    %small.soft.block HTML, CSS, PHP, Wordpress
    %p Christian George is an author, speaker, and blogger. He needed a site where he could post articles, sermon videos, and blog about how God was working in his life. <!-- We sat down together and built the first version of the site in ten hours. It was a rush to say the least. -->
  .footer
    %a(href="/work/christian-george.html") View Project &rarr;