@import compass
=v-gradient($c1, $c2)
  +linear-gradient(color-stops($c1, $c2))

=topp($num)
  top: 200px - $num

=auto-bg($color, $inverse: false, $hover: false)
  $color1: lighten($color, 5)
  $color2: lighten($color, -10)
  @if $inverse
    +v-gradient($color2, $color1)
  @else
    +v-gradient($color1, $color2)
  background-color: $color
  &:hover
    $color: adjust-hue($color, 180)
    @if $hover
      $color: $hover
    $color1: lighten($color, 5)
    $color2: lighten($color, -10)
    @if $inverse
      +v-gradient($color2, $color1)
    @else
      +v-gradient($color1, $color2)

$blue: #24aef5
$green: adjust-hue($blue, -90)
$orange: adjust-hue($green, -90)
$magenta: adjust-hue($orange, -90)

#main
  color: #cccccc
  h1, h2
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    color: #eeeeee
    letter-spacing: -1px
    text-align: left
    margin-bottom: 0
  h1
    font-size: 50px
  h2
    padding-top: 30px
    clear: both
    font-size: 40px
  p
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    color: #24aef5
    font-size: 130%
  a
    color: #eeeeee
    &:hover
      color: #24aef5
  #download
    position: absolute
    top: 80px
    right: 15px
    text-align: right
    em
      padding: 15px 0
      display: block
      font-size: 70%
      color: #cccccc
      width: 230px
      line-height: 1.625em
  .license
    font-size: 120%
    color: #777777
    a
      color: #aaaaaa
  div
    position: relative
    text-align: left
    clear: both
    margin: 0 auto 0
    overflow: hidden
    &.avatars
      img + img
        margin-right: 15px
    p
      padding: 15px 0 20px
    img
      vertical-align: middle
      float: left
      margin: 0 1px 1px 0
    span
      display: inline-block
      margin-top: 20px
      padding-left: 5px
  .light-clear
    .male
      +auto-bg($blue)
    .female
      +auto-bg(#eb85ec)
  .light-frame
    .male
      +auto-bg(lighten(#a22a2d, 10))
    .female
      +auto-bg(#9273d6)
  .dark-clear
    .male
      +auto-bg(lighten(#a22a2d, 10), true)
    .female
      +auto-bg(#9273d6, true)
  .dark-frame
    .male
      +auto-bg($blue, true)
    .female
      +auto-bg(#eb85ec, true)
  .gray-clear
    .male
      +auto-bg(mix(blue, black, 60), true)
    .female
      +auto-bg(mix(red, black, 60), true)
  .gray-frame
    .male
      +auto-bg(mix(blue, black, 60))
    .female
      +auto-bg(mix(red, black, 60))
  .male-sizes
    img
      +auto-bg($blue)
  .female-sizes
    img
      +auto-bg(#eb85ec)
  .avatar
    position: relative
    &.a182
      +topp(182)
    &.a96
      +topp(96)
    &.a64
      +topp(64)
    &.a48
      +topp(48)
    &.a32
      +topp(32)
    &.a24
      +topp(24)
