---
layout: default
body_id: work
nav: work
title: "Design Enthusiast - My Work"
description: "A collection of my recent work"
---

.heading
  %h2 My Work
  %p
    A collection of my recent work

.article
  %img.right(src="/content/work/memberhub/main_page_thumb.png")
  .info
    %h3 Memberhub
    %small.soft.block HTML, CSS, Javascript, Icons, Illustration
    %p
      Memberhub enables member driven organizations to keep people informed and in-touch. It's a flexible social networking tool for small groups as well as large organizations.
    %p
      %a(href="/work/memberhub.html") View Project &rarr;
.article
  %img.right(src="/content/work/terralien/main_page_thumb.png")
  .info
    %h3 Terralien
    %small.soft.block Illustration, Layout
    %p
      This project was a collaborative effort by designers in the crew. In my mockup I focused mainly on expanding the space theme through illustration and logo adaptation. I took inspiration from old toy packaging and various 1950’s space posters to bring elements of fun into the design.
    %p
      %a(href="/work/terralien.html") View Project &rarr;