---
layout: default
nav: default
title: Typography test
---

%h1 Typography
%p A simple one line paragraph. Headings begin below
%h1 Heading 1 - One Line
%h1
  Heading 1 - Multi Line: Tempus fringilla elit. Ut elit diam, sagittis
  in, nonummy in, gravida non, nunc. Ut orci.
%p
  Tempus fringilla elit. Ut elit diam, sagittis in, nonummy in, gravida
  non, nunc. Ut orci. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos hymenaeos. Nam egestas, orci eu imperdiet
  malesuada, nisl purus fringilla odio, quis commodo est orci vitae.
%p
  Justo! Aliquam placerat odio tincidunt nulla. Cras in libero.
  Aenean rutrum, magna non tristique posuere, erat odio eleifend nisl,
  non convallis est tortor blandit ligula. Nulla id augue.
%h2 Heading 2 - One Line
%p
  non, nunc. Ut orci. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos hymenaeos. Nam egestas, orci eu imperdiet
  malesuada, nisl purus fringilla odio, quis commodo est orci vitae
%h2
  Heading 2 - Multi Line: Tempus fringilla elit. Ut elit diam, sagittis
  in, nonummy in, gravida non, nunc. Ut orci.
%p
  Tempus fringilla elit. Ut elit diam, sagittis in, nonummy in, gravida
  non, nunc. Ut orci. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos hymenaeos. Nam egestas, orci eu imperdiet
  malesuada, nisl purus fringilla odio, quis commodo est orci vitae
  justo. Aliquam placerat odio tincidunt nulla. Cras in libero.
  Aenean rutrum, magna non tristique posuere, erat odio eleifend nisl,
  non convallis est tortor blandit ligula. Nulla id augue.
%h3 Heading 3
%h4 Heading 4
%h5 Heading 5
%h6 Heading 6
%p
  Tempus fringilla elit. Ut elit diam, sagittis in, nonummy in, gravida
  non, nunc. Ut orci. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos hymenaeos. Nam egestas, orci eu imperdiet
  malesuada, nisl purus fringilla odio, quis commodo est orci vitae
  justo. Aliquam placerat odio tincidunt nulla. Cras in libero.
  Aenean rutrum, magna non tristique posuere, erat odio eleifend nisl,
  non convallis est tortor blandit ligula. Nulla id augue.
%ul
  %li Apples
  %li Oranges
  %li Bananas
  %li
    A long list item. Nam egestas, orci eu imperdiet malesuada, nisl purus
    fringilla odio, quis commodo est orci vitae justo. Aliquam placerat
    odio tincidunt nulla. Cras in libero. Aenean rutrum, magna non
    tristique posuere, erat odio eleifend nisl, non convallis est tortor
    blandit ligula. Nulla id augue.
  %li Grapes
%ol
  %li London
  %li Ontario
  %li Mexico City
  %li
    A long list item. Nam egestas, orci eu imperdiet malesuada, nisl purus
    fringilla odio, quis commodo est orci vitae justo. Aliquam placerat
    odio tincidunt nulla. Cras in libero. Aenean rutrum, magna non
    tristique posuere, erat odio eleifend nisl, non convallis est tortor
    blandit ligula. Nulla id augue.
  %li Washington
%pre~ "Just a test\non multiple lines\nto see if it works"