#page
  .blog
    +clearfix
    margin: 0 -2px
    padding: 2px
    h2
      padding-top: 0
      margin-bottom: 0.1em
    .title
      text-decoration: none
      &:hover
        text-decoration: underline
    .article
      border-bottom: 1px solid $article-border
      margin-top: 2.5em
      padding-bottom: 1.5em
      position: relative
      &:first-child
        margin-top: 0
      .meta
        border-bottom: 1px dashed #dddddd
        text-transform: uppercase
        color: #777777
        padding: 8px 0 5px
        margin-bottom: 1.5em
        font-size: 80%
        letter-spacing: 1px
    .pubdate
      padding: 15px 0
      font-size: 80%
      color: $light-text
      border-bottom: unquote("1px solid") $article-border
      text-align: right
    .footer
      clear: both
      padding-top: $base-font-size * 1.5
      padding-bottom: 35px
      .comments_off, .metadata
        color: #666666
      .comments_off
        font-size: 95%

#flash
  display: inline-block
  padding: 15px 25px
  margin: 1em 0
  +border-radius(5px)
  &.notice
    background: #fafad2
    border: unquote("1px dashed") darken(#fafad2, 35)
    color: darken(#fafad2, 80%)

#disqus_thread
  padding-top: 35px
  h3
    font-size: $h4
  a
    +link-color-style-none($link-color)

.hover_switcher
  +box-shadow(#cccccc)
  border: 2px solid #aaaaaa
  display: inline-block
  .hide
    display: none
  &:hover
    .hide
      display: inline-block
    .show
      display: none
