#page
  .blog
    +clearfix
    h2
      line-height: 1.25em
      margin-bottom: .625em
    .article
      padding= !base_font_size*2 0 !base_font_size * 1.5
      border-bottom= "1px solid" !article_border
      &:first-child
        padding-top: 0
      em
        color= !light_text
    .pubdate
      padding: 15px 0
      font-size: 80%
      color= !light_text
      border-bottom= "1px solid" !article_border
      text-align: right
    .footer
      padding-top= !base_font_size * 1.5
      padding-bottom: 35px
      font-size: 80%
      .comments_off, .metadata
        color: #666
      .comments_off
        font-size: 95%

#disqus_thread
  padding-top: 35px
  h3
    font-size= !h4
  a
    +link-color-style-none(!link_color)