#nav
  float: left
  margin-left: $page_pad
  ul
    list-style: none
    li
      float: left
      height: 120px
      overflow: hidden
      padding: 0 25px
      a
        +link-colors(#cccccc, white)
        display: inline-block
        padding: 3.3em 2px 10px
        font-size: 90%
        text-transform: uppercase
        +hover-link
      &.here
        border:
          right: 2px solid #888888
          left: 2px solid #888888
        background: #252525 #{image_url("line_tile.png")}
        +v-gradient(#343434, #1a1a1a)
        a
          color: white
          text-decoration: none
          padding:
            left: 0
            right: 0
