#page
  +clearfix
  background-color: $page_bg
  background-image: image_url(unquote("line_tile.png"))
  border-top: unquote("14px solid") $footer_bg
  a
    +link-color-style($link_color)
  h1,h2,h3,h4,h5,h6
    a
      color: $heading_color
      +link-color-style-none($link_color)
  .page_width
    position: relative
    width: $page_width + $page_pad * 2
    padding: 0

#main
  width: $main_width - $page_pad * 2
  background-color: $blog_bg
  +box-shadow(#cccccc, 0, 0, 10px)
  border:
    left: unquote("1px solid") $page_border_sides
    right: unquote("1px solid") $page_border_sides
  padding: 25px $page_pad
  float: left
  &.expanded
    width: $page_width
