#collapser
  +sans-font
  display: block
  cursor: pointer
  background: #f8f8f8
  color: #888
  padding: 5px 10px
  font-size: 10px
  line-height: 150%
  cursor: pointer
  position: absolute
  top: 0
  right: 0

img
  border: none
  &.left
    +float("left")
    margin-right: 15px
    margin-bottom: 15px
  &.right
    +float("right")
    margin-left: 15px
    margin-bottom: 15px

.vr
  display: inline-block
  border-left: 1px solid #999
  width: 0
  margin: 0 4px
  line-height: 120%