#twitter
  p
    padding-bottom: 10px
    a.topic
      color: $twitter-topic
  .meta
    color: $twitter-date
    font-size: 80%
    display: block
    padding: 8px 0 0
    a
      color: inherit
      text-decoration: none
      &:hover
        text-decoration: underline
        color: white
        background-color: #aaaaaa
