body#work #main
  h2
    margin-top: 0
    margin-bottom: 0.2em
    padding: 0 2px
    line-height: 1.2em
  p em
    +serif-font
    font-size: 90%
    color: $light_text
    font-style: italic
  .section
    border-top: 1px solid #eeeeee
    padding: 25px 2px 15px
    +clearfix
    &.alpha
      border: none
      padding-top: 0
    p, .footer
      font-size: 85%
      line-height: 1.5em
    img
      border: 1px solid #cccccc
      background: white
      +border-radius
      padding: 3px
    h3
      line-height: 1.2em
      margin:
        top: 0
        bottom: 0.4em
    .soft
      color: $light_text
      width: 48%
      &.block
        border:
          top: 1px solid #eeeeee
          bottom: 1px solid #eeeeee
        display: block
        padding: 3px 0
        margin-bottom: 1em
