---
layout: default
body_id: work
nav: work
title: "My Work"
description: "A collection of my recent work"
no_comments: true
---

%h2 My Work
%p
  %em A collection of my recent work

.section
  %img.right(src="/content/work/cofamilies/main_page_thumb.png")
  %h3 Cofamilies
  %small.soft.block Branding, Design Planning, Sass, Haml
  %p Cofamilies is all about helping divorced parents raise great kids through domain focused shared calendaring. I helped the founders develop a strong, user empathetic design, targeted specifically to their problem domain. I love this job.
  .footer
    %a(href="http://cofamilies.com/") View cofamilies.com &rarr;

.section
  %img.right(src="/content/work/jumpstart/main_page_thumb.png")
  %h3 JumpstartLab
  %small.soft.block Static Matic, Sass, Haml
  %p JumpstartLab teaches computer science to both experts and n00bs. I cracked the benevolent whip of Compass and Sass, delivering them from the captivity of the Blueprint framework's markup madness. We cooperatively designed the new site over Skype screen sharing. Good times!
  .footer
    %a(href="http://jumpstartlab.com/") View jumpstartlab.com &rarr;

.section
  %img.right(src="/content/work/phds/main_page_thumb.png")
  %h3 PhDs.org
  %small.soft.block Haml, Sass, Javascript
  %p PhDs.org provides top notch graduate school resources to help people find the school that's right for them, as well as listing jobs and career resources for post graduates.
  .footer
    %a(href="http://www.phds.org/") View phds.org
    <span> | </span>
    %a(href="http://jobs.phds.org/") View jobs.phds.org

.section
  %img.right(src="/content/work/cfdashboard/main_page_thumb.png")
  %h3 CFDashboard
  %small.soft.block Branding, Design Planning, Haml, Sass
  %p CFDashboard is a highly focused app, solving core business problems for Crossfit Gym managers. I worked with Terralien to take this lean startup project from concept to MVP revenue. The app was one of my first all in browser designs.
  .footer
    %a(href="http://cfdashboard.com/") Promo Site (not my design) &rarr;

.section
  %img.right(src="/content/work/commonsware/main_page_thumb.png")
  %h3 CommonsWare
  %small.soft.block HTML, Sass, Radiant CMS, Javascript
  %p CommonsWare publishes programming books and open source software. I worked with Terralien to provide them an attractive web storefront to list their books, sell digital book subscriptions, and provide their readers source code downloads and errata updates.
  .footer
    %a(href="http://commonsware.com/") View commonsware.com &rarr;

.section
  %img.right(src="/content/work/christian_george/main_page_thumb.png")
  %h3 Restless Pilgrim
  %small.soft.block HTML, Sass, PHP, Wordpress
  %p Christian George is an author, speaker, and blogger. In 2006, I designed a Wordpress site for Christian so he could post articles, sermon videos, and blog about how God was working in his life. In the summer of 2009 we gave it a facelift.
  .footer
    %a(href="http://RestlessPilgrim.com/") View RestlessPilgrim.com &rarr;

.section
  %img.right(src="/content/work/terralien/main_page_thumb.png")
  %h3 Terralien
  %small.soft.block Illustration, Layout
  %p This project was a collaborative effort by designers in the crew. In my mockup I focused mainly on expanding the space theme through illustration and logo adaptation. I took inspiration from old toy packaging and various 1950's space posters to bring elements of fun into the design.

.section
  %img.right(src="/content/work/memberhub/main_page_thumb.png")
  %h3 Memberhub
  %small.soft.block HTML, Sass, Javascript, Icons, Illustration
  %p Memberhub enables member driven organizations to keep people informed and in-touch. It's a flexible social networking tool for small groups as well as large organizations.
  .footer
    %a(href="http://memberhub.com/") View memberhub.com &rarr;

.section
  %img.right(src="/content/work/oxford_iphone/main_page_thumb.png")
  %h3 Oxford iPhone
  %small.soft.block Webview: HTML, CSS, Javascript, Icon
  %p I worked with <a href="http://yfactorial.com">Y|Factorial</a> to bring the Oxford American College Dictionary &amp; Thesaurus to the iPhone. My role was to provide the best possible user experience from layout and typography to the interaction and flow of the app.
  .footer
    <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=303216625">App Store &rarr;</a> | 

.section
  %img.right(src="/content/work/plotwatt/main_page_thumb.png")
  %h3 PlotWatt
  %small.soft.block HTML, CSS, Javascript, Logo Design
  %p PlotWatt (in private beta) is a service that allows people to track energy consumption in real&ndash;time. You can literally walk into a room and flip off a light and watch your energy consumption drop immediately.
  .footer
    %a(href="http://plotwatt.com/") View plotwatt.com &rarr;

.section
  %img.right(src="/content/work/linktiger/main_page_thumb.png")
  %h3 LinkTiger
  %small.soft.block HTML, CSS, Flash, Illustration
  %p LinkTiger is a fantastic tool which helps webmasters track down broken links on their sites. It can even search inside of documents for broken outgoing links. I developed the jungle theme and illustrations to strengthen the branding of the site.
  .footer
    %a(href="http://linktiger.com/") View LinkTiger.com &rarr;