!page_width = 900px
!main_width = 700px
!page_pad = 30px
!sidebar_margin = 25px
!sidebar_width = (!page_width + !page_pad*2) - !main_width - !sidebar_margin - 10px
!pad = 15px
!default_border_radius = 4px

html body
  background-color= !body_bg
  color= !body_color
  a
    color= !link_color

.page_width
  width= !page_width
  margin: 0 auto
  padding:
    left= !page_pad
    right= !page_pad

#sidebar
  float: left
  width= !sidebar_width
  margin-left= !sidebar_margin

#footer
  position: relative
  z-index: 2
  clear: both
  padding: 25px 0
  .page_width
    +clearfix
