!page_width = 900px
!main_width = 700px
!page_pad = 30px
!sidebar_margin = 30px
!sidebar_width = (!page_width + !page_pad*2) - !main_width - !sidebar_margin
!pad = 15px
!default_border_radius = 4px

html body
  background-color= !body_bg
  color= !body_color
  a
    color= !link_color

#header
  +clearfix
  background-color= !header_bg
  position: relative
  a.title
    +replace-text("logo.png")
    display: inline-block
    text-decoration: none
    height: 64px
    width: 280px
    float: left
    position: relative
    top: 30px


.page_width
  width= !page_width
  margin: 0 auto
  padding:
    left= !page_pad
    right= !page_pad

#page
  +clearfix
  background-color= !page_bg
  background-image= image_url("line_tile.png")
  border-top= "14px solid" !footer_bg
  a
    +link-color-style(!link_color)
  h1,h2,h3,h4,h5,h6
    a
      color= !heading_color
      +link-color-style-none(!link_color)
  .page_width
    +clearfix
    position: relative
    width= !page_width + 60
    padding: 0
#main
  width= !main_width - (!page_pad * 2) - 2px
  background-color= !blog_bg
  +easy-box-shadow(#ccc, 0, 0, 10px)
  border:
    left= "1px solid" !page_border_sides
    right= "1px solid" !page_border_sides
  padding= 25px !page_pad
  float: left
  &.expanded
    width= !page_width - 2px

#sidebar
  float: left
  width= !sidebar_width
  margin-left= !sidebar_margin

#footer
  position: relative
  z-index: 2
  clear: both
  padding: 25px 0
  .page_width
    +clearfix