/* SASS mixins
@import library

/* primary SASS
@import base
@import theme
@import typography
@import layout
@import partials/shared

@import demo/header
@import demo/navigation

html body
  background-color: #222222

html body#light
  background: #fcfcfc

#main
  border-top: 4px solid #444444
  padding: 30px 15px 15px
  position: relative
  hr
    margin-top: 25px
  h1
    margin-top: 20px
  #back
    +link-colors(#888888, #dddddd)
    position: absolute
    left: 20px
    top: 15px

.page_width
  width: 700px
  padding: 0 15px
