!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}
    %title= page.title
    - if page.respond_to? :description
      %meta{:name=>"description", :content=>page.description}/
    - if page.respond_to? :keywords
      %meta{:name=>"keywords", :content=>page.keywords}/
    %link{:href=>"/stylesheets/screen.css", :rel=>"stylesheet", :media=>"screen, projection", :type=>"text/css"}
    %link{:href=>"/blog/atom.xml", :rel=>"alternate", :title=>"Brandon Mathis - Design Enthusiast", :type=>"application/atom+xml"}
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/mootools/1.2.3/mootools-yui-compressed.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/site.js"}
  %body{:id=>(page.respond_to?(:body_id) ? page.body_id : nil)}
    #header_wrapper
      #header
        %h1 Brandon Mathis
        .nav
          %ul
            %li{:class => (page.respond_to?(:nav) && (page.nav == 'home') ? 'here' : nil)}
              %a(href="/" title="Home") Home
            %li{:class => (page.respond_to?(:nav) && (page.nav == 'work') ? 'here' : nil)}
              %a(href="/work/" title="Work") Work
            %li{:class => (page.respond_to?(:nav) && (page.nav == 'blog') ? 'here' : nil)}
              %a(href="/blog/" title="Blog") Blog
        #search
          %form(action="http://www.google.com/cse" id="cse-search-box")
            %input(type="hidden" name="cx" value="000682590315597099166:l47aablh-em")
            %input(type="hidden" name="ie" value="UTF-8")
            %input#q(type="text" name="q")
            /%input(type="submit" name="sa" value="Search")
          
        #blog_links
          %a#rss(href="/blog/atom.xml" title="subscribe")
            %img(src="/images/rss.png")
            %span Subscribe
          %a#archive(href="/blog/archives.html" title="blog archive") Blog Archive
    #content_wrapper
      #content
        #page_wrapper
          #page
            .contents
              = content
        #sidebar.aside
          - if !page.respond_to?(:empty_sidebar)
            .section.alpha
              %img.left(src="/images/hire_me.png" style="margin: -5px 5px 5px -8px" width="80px")
              %h3 Let&rsquo;s Talk
              %p.clear
                I work on all kinds of projects, from large web applications to simple graphic designs. If you have an idea for a
                project, I’d love to talk to you about it.
              %p
                Call me: <strong>+1 (205) 258-8468</strong>
                Email me: <strong><a href="m&#97;ilto:&#105;&#109;&#97;&#116;&#104;&#105;&#115;&#64;&#109;&#101;&#46;&#99;&#111;&#109;? title="send an email to Brandon Mathis">&#105;&#109;&#97;&#116;&#104;&#105;&#115;&#64;&#109;&#101;&#46;&#99;&#111;&#109;</a></strong>
            .section
              %h3 About Me
              %p.clear
                %img.left(src="/content/avatar.jpg" style="margin-top: 3px; margin-bottom: 0")
                I&rsquo;m a design enthusiast who&rsquo;s passionate about my craft. I mainly design web applications, but I also love photography and print design.
            #twitter.section
              .header
                %h3(style="display: inline-block") Twitter
                %span
                  follow
                  %a(href="http://twitter.com/imathis") imathis
              .tweet
                %p#twitter_status
                  Status updating...
              %p.follow
                %img(src="/images/twitter_bird.png")
            #delicious.section
              .header
                %h3(style="display: inline-block") Delicious Links
                %span=link_to('more &rarr;','http://delicious.com/imathis')
              <script type="text/javascript" src="http://feeds.delicious.com/v2/js/imathis?title=&count=5&sort=date&extended"></script>
            .section.omega
              %ol#social
                %li <a href="http://twitter.com/imathis" class="twitter" title="Follow me on Twitter">Twitter</a>
                %li <a href="http://github.com/imathis" class="github" title="My Github profile">Github</a>
                %li <a href="http://facebook.com/brandon.mathis" class="facebook" title="My Facebook profile">Facebook</a>
                %li <a href="http://www.linkedin.com/in/brandonmathis" class="linkedin" title="My Linked-in profile">Linked-in</a>
                %li <a href="http://delicious.com/imathis/" class="delicious" title="My Delicious links">Delicious</a>
                %li <a href="http://flickr.com/photos/imathis/" class="flickr" title="My Flickr photo stream">Flickr</a>
    #footer_wrapper
      #footer
        #page_bottom
          - if page.respond_to?(:bottom_nav)
            %p= page.bottom_nav
        .bottom_nav
          .contents
            %a.ucase(href="#") &uarr; back to top
        #foot_bottom.alone
          <a href="http://compass-style.org" title="Styled with Compass" class="affiliate compass">Styled with Compass</a>
          <a href="http://apple.com" title="Designed on an Apple computer" class="affiliate apple">Designed on an Apple Computer</a>
          <a href="http://terralien.com/" title="I'm a Terralien crew member" class="affiliate terralien">I'm a Terralien Crew Member</a>
          .text_links
          %h6
            Powered by
            %a(href="http://jekyllrb.com/") Jekyll
            &ndash; design <span class="amp">&</span> content &copy; mmix &ndash; brandon mathis
    - if page.respond_to?(:body_id) && page.body_id == "blog"
      :javascript
        (function() {
            var links = document.getElementsByTagName('a');
            var query = '?';
            for(var i = 0; i < links.length; i++) {
              if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
              }
            }
            document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/designenthusiast/get_num_replies.js' + query + '"></' + 'script>');
          })();
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-10876422-1");
      pageTracker._trackPageview();
      } catch(err) {}