/* line 28, sass/screen.sass */
#main {
  color: #ccc; }
/* line 30, sass/screen.sass */
#main h1, #main h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #eee;
  letter-spacing: -1px;
  text-align: left;
  margin-bottom: 0; }
/* line 36, sass/screen.sass */
#main h1 {
  font-size: 50px; }
/* line 38, sass/screen.sass */
#main h2 {
  padding-top: 30px;
  clear: both;
  font-size: 40px; }
/* line 42, sass/screen.sass */
#main p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #24aef5;
  font-size: 130%; }
/* line 46, sass/screen.sass */
#main a {
  color: #eee; }
/* line 48, sass/screen.sass */
#main a:hover {
  color: #24aef5; }
/* line 50, sass/screen.sass */
#main #download {
  position: absolute;
  top: 80px;
  right: 15px;
  text-align: right; }
/* line 55, sass/screen.sass */
#main #download em {
  padding: 15px 0;
  display: block;
  font-size: 70%;
  color: #ccc;
  width: 230px;
  line-height: 1.625em; }
/* line 62, sass/screen.sass */
#main .license {
  font-size: 120%;
  color: #777; }
/* line 65, sass/screen.sass */
#main .license a {
  color: #aaa; }
/* line 67, sass/screen.sass */
#main div {
  position: relative;
  text-align: left;
  clear: both;
  margin: 0 auto 0;
  overflow: hidden; }
/* line 74, sass/screen.sass */
#main div.avatars img + img {
  margin-right: 15px; }
/* line 76, sass/screen.sass */
#main div p {
  padding: 15px 0 20px; }
/* line 78, sass/screen.sass */
#main div img {
  vertical-align: middle;
  float: left;
  margin: 0 1px 1px 0; }
/* line 82, sass/screen.sass */
#main div span {
  display: inline-block;
  margin-top: 20px;
  padding-left: 5px; }
/* line 88, sass/screen.sass */
#main .light-clear .male {
  background: -webkit-gradient(linear, left top, left bottom, from(#3cb7f6), to(#0a95dc));
  background: -moz-linear-gradient(left top, left bottom, from(#3cb7f6), to(#0a95dc));
  background-color: #24aef5; }
/* line 13, sass/screen.sass */
#main .light-clear .male:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f67b3c), to(#dc510a));
  background: -moz-linear-gradient(left top, left bottom, from(#f67b3c), to(#dc510a)); }
/* line 90, sass/screen.sass */
#main .light-clear .female {
  background: -webkit-gradient(linear, left top, left bottom, from(#ef9bef), to(#e459e5));
  background: -moz-linear-gradient(left top, left bottom, from(#ef9bef), to(#e459e5));
  background-color: #eb85ec; }
/* line 13, sass/screen.sass */
#main .light-clear .female:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9cef9b), to(#5ae559));
  background: -moz-linear-gradient(left top, left bottom, from(#9cef9b), to(#5ae559)); }
/* line 93, sass/screen.sass */
#main .light-frame .male {
  background: -webkit-gradient(linear, left top, left bottom, from(#d0484c), to(#a22a2d));
  background: -moz-linear-gradient(left top, left bottom, from(#d0484c), to(#a22a2d));
  background-color: #cb3438; }
/* line 13, sass/screen.sass */
#main .light-frame .male:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#48d0cd), to(#2aa29f));
  background: -moz-linear-gradient(left top, left bottom, from(#48d0cd), to(#2aa29f)); }
/* line 95, sass/screen.sass */
#main .light-frame .female {
  background: -webkit-gradient(linear, left top, left bottom, from(#a187dc), to(#734cca));
  background: -moz-linear-gradient(left top, left bottom, from(#a187dc), to(#734cca));
  background-color: #9273d6; }
/* line 13, sass/screen.sass */
#main .light-frame .female:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#c1dc87), to(#a3ca4c));
  background: -moz-linear-gradient(left top, left bottom, from(#c1dc87), to(#a3ca4c)); }
/* line 98, sass/screen.sass */
#main .dark-clear .male {
  background: -webkit-gradient(linear, left top, left bottom, from(#a22a2d), to(#d0484c));
  background: -moz-linear-gradient(left top, left bottom, from(#a22a2d), to(#d0484c));
  background-color: #cb3438; }
/* line 13, sass/screen.sass */
#main .dark-clear .male:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#2aa29f), to(#48d0cd));
  background: -moz-linear-gradient(left top, left bottom, from(#2aa29f), to(#48d0cd)); }
/* line 100, sass/screen.sass */
#main .dark-clear .female {
  background: -webkit-gradient(linear, left top, left bottom, from(#734cca), to(#a187dc));
  background: -moz-linear-gradient(left top, left bottom, from(#734cca), to(#a187dc));
  background-color: #9273d6; }
/* line 13, sass/screen.sass */
#main .dark-clear .female:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#a3ca4c), to(#c1dc87));
  background: -moz-linear-gradient(left top, left bottom, from(#a3ca4c), to(#c1dc87)); }
/* line 103, sass/screen.sass */
#main .dark-frame .male {
  background: -webkit-gradient(linear, left top, left bottom, from(#0a95dc), to(#3cb7f6));
  background: -moz-linear-gradient(left top, left bottom, from(#0a95dc), to(#3cb7f6));
  background-color: #24aef5; }
/* line 13, sass/screen.sass */
#main .dark-frame .male:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc510a), to(#f67b3c));
  background: -moz-linear-gradient(left top, left bottom, from(#dc510a), to(#f67b3c)); }
/* line 105, sass/screen.sass */
#main .dark-frame .female {
  background: -webkit-gradient(linear, left top, left bottom, from(#e459e5), to(#ef9bef));
  background: -moz-linear-gradient(left top, left bottom, from(#e459e5), to(#ef9bef));
  background-color: #eb85ec; }
/* line 13, sass/screen.sass */
#main .dark-frame .female:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#5ae559), to(#9cef9b));
  background: -moz-linear-gradient(left top, left bottom, from(#5ae559), to(#9cef9b)); }
/* line 108, sass/screen.sass */
#main .gray-clear .male {
  background: -webkit-gradient(linear, left top, left bottom, from(#000066), to(#0000b3));
  background: -moz-linear-gradient(left top, left bottom, from(#000066), to(#0000b3));
  background-color: #000099; }
/* line 13, sass/screen.sass */
#main .gray-clear .male:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#666600), to(#b3b200));
  background: -moz-linear-gradient(left top, left bottom, from(#666600), to(#b3b200)); }
/* line 110, sass/screen.sass */
#main .gray-clear .female {
  background: -webkit-gradient(linear, left top, left bottom, from(#660000), to(#b30000));
  background: -moz-linear-gradient(left top, left bottom, from(#660000), to(#b30000));
  background-color: #990000; }
/* line 13, sass/screen.sass */
#main .gray-clear .female:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#006666), to(#00b2b3));
  background: -moz-linear-gradient(left top, left bottom, from(#006666), to(#00b2b3)); }
/* line 113, sass/screen.sass */
#main .gray-frame .male {
  background: -webkit-gradient(linear, left top, left bottom, from(#0000b3), to(#000066));
  background: -moz-linear-gradient(left top, left bottom, from(#0000b3), to(#000066));
  background-color: #000099; }
/* line 13, sass/screen.sass */
#main .gray-frame .male:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#b3b200), to(#666600));
  background: -moz-linear-gradient(left top, left bottom, from(#b3b200), to(#666600)); }
/* line 115, sass/screen.sass */
#main .gray-frame .female {
  background: -webkit-gradient(linear, left top, left bottom, from(#b30000), to(#660000));
  background: -moz-linear-gradient(left top, left bottom, from(#b30000), to(#660000));
  background-color: #990000; }
/* line 13, sass/screen.sass */
#main .gray-frame .female:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#00b2b3), to(#006666));
  background: -moz-linear-gradient(left top, left bottom, from(#00b2b3), to(#006666)); }
/* line 118, sass/screen.sass */
#main .male-sizes img {
  background: -webkit-gradient(linear, left top, left bottom, from(#3cb7f6), to(#0a95dc));
  background: -moz-linear-gradient(left top, left bottom, from(#3cb7f6), to(#0a95dc));
  background-color: #24aef5; }
/* line 13, sass/screen.sass */
#main .male-sizes img:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f67b3c), to(#dc510a));
  background: -moz-linear-gradient(left top, left bottom, from(#f67b3c), to(#dc510a)); }
/* line 121, sass/screen.sass */
#main .female-sizes img {
  background: -webkit-gradient(linear, left top, left bottom, from(#ef9bef), to(#e459e5));
  background: -moz-linear-gradient(left top, left bottom, from(#ef9bef), to(#e459e5));
  background-color: #eb85ec; }
/* line 13, sass/screen.sass */
#main .female-sizes img:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9cef9b), to(#5ae559));
  background: -moz-linear-gradient(left top, left bottom, from(#9cef9b), to(#5ae559)); }
/* line 123, sass/screen.sass */
#main .avatar {
  position: relative; }
/* line 125, sass/screen.sass */
#main .avatar.a182 {
  top: 18px; }
/* line 127, sass/screen.sass */
#main .avatar.a96 {
  top: 104px; }
/* line 129, sass/screen.sass */
#main .avatar.a64 {
  top: 136px; }
/* line 131, sass/screen.sass */
#main .avatar.a48 {
  top: 152px; }
/* line 133, sass/screen.sass */
#main .avatar.a32 {
  top: 168px; }
/* line 135, sass/screen.sass */
#main .avatar.a24 {
  top: 176px; }
