/* line 3, ../src/buttons.sass */
body {
  text-align: center;
  padding-top: 10px;
}

/* line 6, ../src/buttons.sass */
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  color: #333;
  letter-spacing: -1px;
}

/* line 11, ../src/buttons.sass */
div {
  margin-top: 15px;
}

/* line 18, ../src/buttons.sass */
a.button, button {
  font-family: "Lucida Grande", Lucida, Arial, sans_serif;
  background: url('../images/button_bg.png?1258348967') repeat-x bottom left;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 5px 18px;
  font-size: 18px;
  line-height: 21.6px;
  border-width: 1px;
  color: #fff;
  background-color: #444444;
  background: -webkit-gradient(linear, left top, left bottom, from(#989898), to(#4f4f4f), color-stop(0.1, #6a6a6a), color-stop(0.5, #3d3d3d), color-stop(0.5, #353535));
  background: -moz-linear-gradient(left top, left bottom, from(#989898), to(#4f4f4f), color-stop(0.1, #6a6a6a), color-stop(0.5, #3d3d3d), color-stop(0.5, #353535));
  text-shadow: #040404 1px 1px 1px;
  border-color: #303030;
  margin: 0 2px;
  vertical-align: middle;
}
/* line 98, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button::-moz-focus-inner, button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 101, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button:focus, button:focus {
  outline: none;
}
/* line 81, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button:active, button:active {
  padding: 4px 17px;
  border-width: 2px;
}
/* line 84, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.disabled:active, button.disabled:active {
  padding: 5px 18px;
  border-width: 1px;
}
/* line 23, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button:hover, a.button:focus, button:hover, button:focus {
  color: #fff;
  background-color: #3c3c3c;
  background: -webkit-gradient(linear, left top, left bottom, from(#909090), to(#474747), color-stop(0.1, #626262), color-stop(0.5, #353535), color-stop(0.5, #2d2d2d));
  background: -moz-linear-gradient(left top, left bottom, from(#909090), to(#474747), color-stop(0.1, #626262), color-stop(0.5, #353535), color-stop(0.5, #2d2d2d));
  text-shadow: black 1px 1px 1px;
  border-color: #282828;
}
/* line 25, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button:active, button:active {
  color: #fff;
  background-color: #353535;
  background: -webkit-gradient(linear, left top, left bottom, from(#898989), to(#404040), color-stop(0.1, #5b5b5b), color-stop(0.5, #2e2e2e), color-stop(0.5, #262626));
  background: -moz-linear-gradient(left top, left bottom, from(#898989), to(#404040), color-stop(0.1, #5b5b5b), color-stop(0.5, #2e2e2e), color-stop(0.5, #262626));
  text-shadow: black 1px 1px 1px;
  border-color: #212121;
}
/* line 23, ../src/buttons.sass */
a.button.light, button.light {
  color: #fff;
  background-color: #bbbbbb;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#c6c6c6), color-stop(0.1, #e1e1e1), color-stop(0.5, #b4b4b4), color-stop(0.5, #acacac));
  background: -moz-linear-gradient(left top, left bottom, from(white), to(#c6c6c6), color-stop(0.1, #e1e1e1), color-stop(0.5, #b4b4b4), color-stop(0.5, #acacac));
  text-shadow: #d4d4d4 1px 1px 1px;
  color: #333;
  border-color: #a7a7a7;
}
/* line 23, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.light:hover, a.button.light:focus, button.light:hover, button.light:focus {
  color: #fff;
  background-color: #b3b3b3;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#bebebe), color-stop(0.1, #d9d9d9), color-stop(0.5, #acacac), color-stop(0.5, #a4a4a4));
  background: -moz-linear-gradient(left top, left bottom, from(white), to(#bebebe), color-stop(0.1, #d9d9d9), color-stop(0.5, #acacac), color-stop(0.5, #a4a4a4));
  text-shadow: #cccccc 1px 1px 1px;
  color: #333;
  border-color: #9f9f9f;
}
/* line 25, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.light:active, button.light:active {
  color: #fff;
  background-color: #acacac;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#b7b7b7), color-stop(0.1, #d2d2d2), color-stop(0.5, #a5a5a5), color-stop(0.5, #9d9d9d));
  background: -moz-linear-gradient(left top, left bottom, from(white), to(#b7b7b7), color-stop(0.1, #d2d2d2), color-stop(0.5, #a5a5a5), color-stop(0.5, #9d9d9d));
  text-shadow: #c6c6c6 1px 1px 1px;
  color: #333;
  border-color: #989898;
}
/* line 25, ../src/buttons.sass */
a.button.green, button.green {
  color: #fff;
  background-color: #3ab700;
  background: -webkit-gradient(linear, left top, left bottom, from(#9ee080), to(#4fa328), color-stop(0.1, #66ce36), color-stop(0.5, #418621), color-stop(0.5, #3b7a1e));
  background: -moz-linear-gradient(left top, left bottom, from(#9ee080), to(#4fa328), color-stop(0.1, #66ce36), color-stop(0.5, #418621), color-stop(0.5, #3b7a1e));
  text-shadow: #123800 1px 1px 1px;
  border-color: #37721c;
}
/* line 23, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.green:hover, a.button.green:focus, button.green:hover, button.green:focus {
  color: #fff;
  background-color: #35a800;
  background: -webkit-gradient(linear, left top, left bottom, from(#95dd73), to(#499725), color-stop(0.1, #5fc430), color-stop(0.5, #3b7a1e), color-stop(0.5, #356e1b));
  background: -moz-linear-gradient(left top, left bottom, from(#95dd73), to(#499725), color-stop(0.1, #5fc430), color-stop(0.5, #3b7a1e), color-stop(0.5, #356e1b));
  text-shadow: #0d2900 1px 1px 1px;
  border-color: #316619;
}
/* line 25, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.green:active, button.green:active {
  color: #fff;
  background-color: #309800;
  background: -webkit-gradient(linear, left top, left bottom, from(#8bd966), to(#438a22), color-stop(0.1, #59b72d), color-stop(0.5, #356d1b), color-stop(0.5, #2f6118));
  background: -moz-linear-gradient(left top, left bottom, from(#8bd966), to(#438a22), color-stop(0.1, #59b72d), color-stop(0.5, #356d1b), color-stop(0.5, #2f6118));
  text-shadow: #081800 1px 1px 1px;
  border-color: #2b5916;
}
/* line 27, ../src/buttons.sass */
a.button.blue, button.blue {
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  padding: 9px 32px;
  font-size: 32px;
  line-height: 38.4px;
  border-width: 3px;
  color: #fff;
  background-color: #0059b7;
  background: -webkit-gradient(linear, left top, left bottom, from(#80afe0), to(#2864a3), color-stop(0.1, #3680ce), color-stop(0.5, #215386), color-stop(0.5, #1e4b7a));
  background: -moz-linear-gradient(left top, left bottom, from(#80afe0), to(#2864a3), color-stop(0.1, #3680ce), color-stop(0.5, #215386), color-stop(0.5, #1e4b7a));
  text-shadow: #001b38 1px 1px 1px;
  border-color: #1c4672;
}
/* line 81, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.blue:active, button.blue:active {
  padding: 8px 31px;
  border-width: 4px;
}
/* line 84, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.blue.disabled:active, button.blue.disabled:active {
  padding: 9px 32px;
  border-width: 3px;
}
/* line 23, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.blue:hover, a.button.blue:focus, button.blue:hover, button.blue:focus {
  color: #fff;
  background-color: #0051a8;
  background: -webkit-gradient(linear, left top, left bottom, from(#73a6dd), to(#255c97), color-stop(0.1, #3077c4), color-stop(0.5, #1e4a7a), color-stop(0.5, #1b436e));
  background: -moz-linear-gradient(left top, left bottom, from(#73a6dd), to(#255c97), color-stop(0.1, #3077c4), color-stop(0.5, #1e4a7a), color-stop(0.5, #1b436e));
  text-shadow: #001429 1px 1px 1px;
  border-color: #193e66;
}
/* line 25, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.blue:active, button.blue:active {
  color: #fff;
  background-color: #004a98;
  background: -webkit-gradient(linear, left top, left bottom, from(#669fd9), to(#22558a), color-stop(0.1, #2d71b7), color-stop(0.5, #1b446d), color-stop(0.5, #183c61));
  background: -moz-linear-gradient(left top, left bottom, from(#669fd9), to(#22558a), color-stop(0.1, #2d71b7), color-stop(0.5, #1b446d), color-stop(0.5, #183c61));
  text-shadow: #000c18 1px 1px 1px;
  border-color: #163759;
}
/* line 30, ../src/buttons.sass */
a.button.red, button.red {
  color: #fff;
  background-color: #b70300;
  background: -webkit-gradient(linear, left top, left bottom, from(#e08280), to(#a32b28), color-stop(0.1, #ce3936), color-stop(0.5, #862321), color-stop(0.5, #7a201e));
  background: -moz-linear-gradient(left top, left bottom, from(#e08280), to(#a32b28), color-stop(0.1, #ce3936), color-stop(0.5, #862321), color-stop(0.5, #7a201e));
  text-shadow: #380100 1px 1px 1px;
  border-color: #721e1c;
}
/* line 23, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.red:hover, a.button.red:focus, button.red:hover, button.red:focus {
  color: #fff;
  background-color: #a80300;
  background: -webkit-gradient(linear, left top, left bottom, from(#dd7573), to(#972825), color-stop(0.1, #c43330), color-stop(0.5, #7a201e), color-stop(0.5, #6e1d1b));
  background: -moz-linear-gradient(left top, left bottom, from(#dd7573), to(#972825), color-stop(0.1, #c43330), color-stop(0.5, #7a201e), color-stop(0.5, #6e1d1b));
  text-shadow: #290100 1px 1px 1px;
  border-color: #661a19;
}
/* line 25, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.red:active, button.red:active {
  color: #fff;
  background-color: #980300;
  background: -webkit-gradient(linear, left top, left bottom, from(#d96966), to(#8a2522), color-stop(0.1, #b7302d), color-stop(0.5, #6d1d1b), color-stop(0.5, #611a18));
  background: -moz-linear-gradient(left top, left bottom, from(#d96966), to(#8a2522), color-stop(0.1, #b7302d), color-stop(0.5, #6d1d1b), color-stop(0.5, #611a18));
  text-shadow: #180000 1px 1px 1px;
  border-color: #591716;
}
/* line 32, ../src/buttons.sass */
a.button.yellow, button.yellow {
  color: #fff;
  background-color: #e6e600;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebeba4), to(#cece2d), color-stop(0.1, #dbdb58), color-stop(0.5, #b1b127), color-stop(0.5, #a4a424));
  background: -moz-linear-gradient(left top, left bottom, from(#ebeba4), to(#cece2d), color-stop(0.1, #dbdb58), color-stop(0.5, #b1b127), color-stop(0.5, #a4a424));
  text-shadow: #676600 1px 1px 1px;
  border-color: #9b9b22;
}
/* line 23, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.yellow:hover, a.button.yellow:focus, button.yellow:hover, button.yellow:focus {
  color: #fff;
  background-color: #d6d600;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e896), to(#c1c12a), color-stop(0.1, #d8d84a), color-stop(0.5, #a4a424), color-stop(0.5, #979721));
  background: -moz-linear-gradient(left top, left bottom, from(#e8e896), to(#c1c12a), color-stop(0.1, #d8d84a), color-stop(0.5, #a4a424), color-stop(0.5, #979721));
  text-shadow: #575600 1px 1px 1px;
  border-color: #8e8e1f;
}
/* line 25, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/fancy-buttons-0.3.4/lib/sass/_fancy_buttons.sass */
a.button.yellow:active, button.yellow:active {
  color: #fff;
  background-color: #c8c800;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e68b), to(#b5b527), color-stop(0.1, #d5d540), color-stop(0.5, #989821), color-stop(0.5, #8b8b1e));
  background: -moz-linear-gradient(left top, left bottom, from(#e6e68b), to(#b5b527), color-stop(0.1, #d5d540), color-stop(0.5, #989821), color-stop(0.5, #8b8b1e));
  text-shadow: #484900 1px 1px 1px;
  border-color: #83831d;
}
