---
layout: default
body_id: home_page_layout
title: "Brandon Mathis - Design Enthusiast"
description: "I&lsquo;m a design enthusiast who&lsquo;s passionate about my craft. This is where I show my work, and share what I'm learning."
keywords: "Brandon Mathis, imathis, ruby on rails, ruby, rails, designer, developer, web applications, php, compass, javascript, interactive, UX, UI"
---

#head_quote.section
  %h2 Simplicity is the ultimate sophistication.
  %span.cite &mdash; Leonardo Da Vinci
#featured_work.section
  .art.right
    %img(src="/content/work.png")
    <a href="#">View Project &rarr;</a>
  %h3 Featured Work
  %p
    The Terralien site redesign project was a collaborative effort by designers
    in the crew. In my mockup I focused mainly on expanding the space theme
    through illustration and logo adaptation. I took inspiration from old toy
    packaging and various 1950’s space posters to bring elements of fun into the
    design.

#writings.section
  %h3 Writings
  %ul
    %li.first
      %span.date 23 June, 2009
      %span.article
        %h5.title
          <a href="#">I Shot the Serif</a>
        %p.exerpt The sun was setting just past the x-height of the horizon. Bodoni had been pressing on since daybreak, tracking was getting narrower
    %li
      %span.date 23 June, 2009
      %span.article
        %h5.title
          <a href="#">I Shot the Serif</a>
        %p.exerpt The sun was setting just past the x-height of the horizon. Bodoni had been pressing on since daybreak, tracking was getting narrower
  %small
    <a href="/blog/">All Writing</a>